.App {
  background-color: #e2e1e1;
  padding: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App > div {
  background-color: #666;
  padding: 60px 20px;
  margin: 20px;
  border-radius: 20px;
  width: 600px;
  height: 600px;
  font-size: 30px;
  text-align: center;
}

.App > div > span {
  font-size: 16px;
  color: #000000;
  padding: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.App > div > input {
  color: #000000;
  padding: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.App > div > button {
  color: #000000;
  padding: 0px;
  margin-left: 43px;
  display: flex;
  align-items: center;
  justify-content: left;
}
